<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Test</title>
    <link rel="stylesheet" href="~/src/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/src/css/main.css" />
</head>
<body>
    <div class="container">
        <div class="pb-3">
            <h1 class="display-4">Create a New Product</h1>
        </div>
        <div>
            <form id="form_create_product">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="Name" id="name" placeholder="Name of Product" maxlength="30" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="Description" id="description" placeholder="Description of Product" required>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="family">Family</label>
                        <input type="text" class="form-control" name="Family" id="family" placeholder="Family of Product" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" name="Price" id="price" placeholder="Price of Product" required>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Index")'">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <script src="~/src/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/src/lib/jquery/dist/jquery.blockUI.js"></script>
    <script src="~/src/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/src/js/main.js" asp-append-version="true"></script>
</body>
</html>